table {
	border: 2px solid black;
}

table td {
	border: 1px solid black;
}

td.add {
	text-align: center;
}

div.row, div.column {
	display: flex;
}

div.row {
	column-gap: .5rem;
}

div.column {
	flex-direction: column;
	row-gap: .5rem;
}